<?xml version="1.0" encoding="utf-8"?>
<!--
    NuGet.Config
    This file specifies the NuGet package sources for the project or solution.
    It determines from where NuGet will fetch packages during restore and install operations.
    The <clear /> element removes any inherited or default sources.
    The <add> element adds nuget.org as the sole package source.
-->
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>